[04] Flows/dalek-sensors.json
[
    {
        "id": "f849000841cdb6c6",
        "type": "tab",
        "label": "Dalek Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8daa63964ecd18ab",
        "type": "mqtt in",
        "z": "f849000841cdb6c6",
        "name": "",
        "topic": "/dalek/command",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3d62961e0ee77aa3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "cbef8693abd8e680"
            ]
        ]
    },
    {
        "id": "cbef8693abd8e680",
        "type": "switch",
        "z": "f849000841cdb6c6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "6",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 330,
        "y": 260,
        "wires": [
            [
                "31d662d78201f58b",
                "6986aa9b033aef14"
            ],
            [],
            [
                "1ac31ccb8866b625"
            ],
            []
        ]
    },
    {
        "id": "c09e23d1c8274ccf",
        "type": "trigger",
        "z": "f849000841cdb6c6",
        "name": "",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "2",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1040,
        "y": 200,
        "wires": [
            [
                "00650bbf2edadbd7"
            ]
        ]
    },
    {
        "id": "6986aa9b033aef14",
        "type": "delay",
        "z": "f849000841cdb6c6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 200,
        "wires": [
            [
                "c09e23d1c8274ccf",
                "2d1ddecd66412b14"
            ]
        ]
    },
    {
        "id": "e214db2faf0e9bfd",
        "type": "trigger",
        "z": "f849000841cdb6c6",
        "name": "",
        "op1": "r2",
        "op2": "false",
        "op1type": "str",
        "op2type": "bool",
        "duration": "2",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1040,
        "y": 260,
        "wires": [
            [
                "1f3de1b514fd8dd3"
            ]
        ]
    },
    {
        "id": "1ac31ccb8866b625",
        "type": "delay",
        "z": "f849000841cdb6c6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 260,
        "wires": [
            [
                "e214db2faf0e9bfd"
            ]
        ]
    },
    {
        "id": "31d662d78201f58b",
        "type": "delay",
        "z": "f849000841cdb6c6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 160,
        "wires": [
            [
                "b0acc9f2740c0966"
            ]
        ]
    },
    {
        "id": "00650bbf2edadbd7",
        "type": "ui_led",
        "z": "f849000841cdb6c6",
        "order": 7,
        "group": "101e88756b49de61",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LIGHT",
        "x": 1190,
        "y": 200,
        "wires": []
    },
    {
        "id": "e20f7dbe7d076cf7",
        "type": "ui_led",
        "z": "f849000841cdb6c6",
        "order": 2,
        "group": "101e88756b49de61",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "SOUND",
        "x": 1360,
        "y": 280,
        "wires": []
    },
    {
        "id": "4b0696b1b79d75b1",
        "type": "ui_led",
        "z": "f849000841cdb6c6",
        "order": 8,
        "group": "101e88756b49de61",
        "width": 1,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#000000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ffff00",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "LIGHT TOGGLE",
        "x": 1220,
        "y": 160,
        "wires": []
    },
    {
        "id": "312dfeebf9d03cae",
        "type": "inject",
        "z": "f849000841cdb6c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 1030,
        "y": 20,
        "wires": [
            [
                "00650bbf2edadbd7",
                "e20f7dbe7d076cf7",
                "4b0696b1b79d75b1",
                "2d1ddecd66412b14"
            ]
        ]
    },
    {
        "id": "b0acc9f2740c0966",
        "type": "toggle",
        "z": "f849000841cdb6c6",
        "name": "",
        "onOffTopic": "",
        "onValue": "false",
        "onType": "bool",
        "offValue": "true",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "6",
        "toggleType": "str",
        "passOnOff": "",
        "x": 1050,
        "y": 160,
        "wires": [
            [
                "4b0696b1b79d75b1"
            ]
        ]
    },
    {
        "id": "d3db1aeadcd834d6",
        "type": "inject",
        "z": "f849000841cdb6c6",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "str",
        "x": 710,
        "y": 20,
        "wires": [
            [
                "b0acc9f2740c0966"
            ]
        ]
    },
    {
        "id": "f8ed9b2747e2fc5e",
        "type": "ui_button",
        "z": "f849000841cdb6c6",
        "name": "",
        "group": "101e88756b49de61",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Sound 1",
        "tooltip": "",
        "color": "black",
        "bgcolor": "rgb(255,255,255)",
        "className": "",
        "icon": "",
        "payload": "9",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 720,
        "y": 340,
        "wires": [
            [
                "1ac31ccb8866b625"
            ]
        ]
    },
    {
        "id": "21eb3dd4500df081",
        "type": "ui_button",
        "z": "f849000841cdb6c6",
        "name": "",
        "group": "101e88756b49de61",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Lights",
        "tooltip": "Lights, these are...",
        "color": "{{payload}}",
        "bgcolor": "rgb(255,255,255)",
        "className": "",
        "icon": "",
        "payload": "6",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 670,
        "y": 300,
        "wires": [
            [
                "6986aa9b033aef14",
                "31d662d78201f58b"
            ]
        ]
    },
    {
        "id": "d0140c833968bb7c",
        "type": "switch",
        "z": "f849000841cdb6c6",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 500,
        "wires": [
            [
                "b0a31964603d91b6"
            ],
            [
                "c4d1222fc16bab1a"
            ]
        ]
    },
    {
        "id": "b0a31964603d91b6",
        "type": "trigger",
        "z": "f849000841cdb6c6",
        "name": "",
        "op1": "rgb(255,255,10)",
        "op2": "rgb(0,150,0)",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "2a1731a062545928"
            ]
        ]
    },
    {
        "id": "c4d1222fc16bab1a",
        "type": "trigger",
        "z": "f849000841cdb6c6",
        "name": "",
        "op1": "rgb(255,255,255)",
        "op2": "rgb(0,0,0)",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 590,
        "y": 540,
        "wires": [
            [
                "2a1731a062545928"
            ]
        ]
    },
    {
        "id": "2d1ddecd66412b14",
        "type": "toggle",
        "z": "f849000841cdb6c6",
        "name": "",
        "onOffTopic": "",
        "onValue": "true",
        "onType": "bool",
        "offValue": "false",
        "offType": "bool",
        "toggleTopic": "",
        "toggleValue": "6",
        "toggleType": "str",
        "passOnOff": "",
        "x": 270,
        "y": 500,
        "wires": [
            [
                "d0140c833968bb7c"
            ]
        ]
    },
    {
        "id": "659a63fc4725a1eb",
        "type": "ui_toast",
        "z": "f849000841cdb6c6",
        "position": "top right",
        "displayTime": "10",
        "highlight": "red",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1180,
        "y": 500,
        "wires": []
    },
    {
        "id": "585fb5e1239160c4",
        "type": "ui_button",
        "z": "f849000841cdb6c6",
        "name": "",
        "group": "101e88756b49de61",
        "order": 15,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Test",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "Failure",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 990,
        "y": 500,
        "wires": [
            [
                "659a63fc4725a1eb"
            ]
        ]
    },
    {
        "id": "2dd970604467f5ee",
        "type": "ui_level",
        "z": "f849000841cdb6c6",
        "group": "101e88756b49de61",
        "order": 10,
        "width": 1,
        "height": 2,
        "name": "",
        "label": "l1",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "100",
        "max": "0",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1130,
        "y": 580,
        "wires": []
    },
    {
        "id": "08db6c8aeec4a9d3",
        "type": "ui_level",
        "z": "f849000841cdb6c6",
        "group": "101e88756b49de61",
        "order": 13,
        "width": 1,
        "height": 2,
        "name": "",
        "label": "l2",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1130,
        "y": 620,
        "wires": []
    },
    {
        "id": "ab4f36b9ae6dde54",
        "type": "ui_level",
        "z": "f849000841cdb6c6",
        "group": "101e88756b49de61",
        "order": 22,
        "width": 1,
        "height": 2,
        "name": "",
        "label": "l3",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1130,
        "y": 660,
        "wires": []
    },
    {
        "id": "376c9a1567074d3f",
        "type": "ui_level",
        "z": "f849000841cdb6c6",
        "group": "101e88756b49de61",
        "order": 19,
        "width": 1,
        "height": 2,
        "name": "",
        "label": "l4",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1130,
        "y": 700,
        "wires": []
    },
    {
        "id": "c8500a1a60868370",
        "type": "ui_level",
        "z": "f849000841cdb6c6",
        "group": "101e88756b49de61",
        "order": 28,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "l5",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1130,
        "y": 740,
        "wires": []
    },
    {
        "id": "2d5c755da765fbae",
        "type": "ui_level",
        "z": "f849000841cdb6c6",
        "group": "101e88756b49de61",
        "order": 26,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "l6",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1130,
        "y": 780,
        "wires": []
    },
    {
        "id": "2b4c4b4070e8120a",
        "type": "ui_level",
        "z": "f849000841cdb6c6",
        "group": "101e88756b49de61",
        "order": 29,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "l7",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1130,
        "y": 820,
        "wires": []
    },
    {
        "id": "c63894291a631c5c",
        "type": "ui_level",
        "z": "f849000841cdb6c6",
        "group": "101e88756b49de61",
        "order": 31,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "l8",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1130,
        "y": 860,
        "wires": []
    },
    {
        "id": "0a74b99a97c4907d",
        "type": "ui_level",
        "z": "f849000841cdb6c6",
        "group": "101e88756b49de61",
        "order": 34,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "l9",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1130,
        "y": 900,
        "wires": []
    },
    {
        "id": "2f19b7fb4e39cded",
        "type": "ui_level",
        "z": "f849000841cdb6c6",
        "group": "101e88756b49de61",
        "order": 32,
        "width": 3,
        "height": 1,
        "name": "",
        "label": "l10",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1130,
        "y": 940,
        "wires": []
    },
    {
        "id": "07312f5cae553716",
        "type": "ui_level",
        "z": "f849000841cdb6c6",
        "group": "101e88756b49de61",
        "order": 37,
        "width": 1,
        "height": 2,
        "name": "",
        "label": "l11",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": 100,
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1130,
        "y": 980,
        "wires": []
    },
    {
        "id": "f821a66ee17113d3",
        "type": "ui_level",
        "z": "f849000841cdb6c6",
        "group": "101e88756b49de61",
        "order": 39,
        "width": 1,
        "height": 2,
        "name": "",
        "label": "l12",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "100",
        "max": "0",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1130,
        "y": 1020,
        "wires": []
    },
    {
        "id": "2a1731a062545928",
        "type": "delay",
        "z": "f849000841cdb6c6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 760,
        "y": 520,
        "wires": [
            [
                "21eb3dd4500df081"
            ]
        ]
    },
    {
        "id": "2dabf8135f56a536",
        "type": "link in",
        "z": "f849000841cdb6c6",
        "name": "link in 1",
        "links": [],
        "x": 205,
        "y": 380,
        "wires": [
            [
                "6986aa9b033aef14",
                "31d662d78201f58b",
                "2d1ddecd66412b14"
            ]
        ]
    },
    {
        "id": "d37e1939c2666512",
        "type": "ui_template",
        "z": "f849000841cdb6c6",
        "group": "101e88756b49de61",
        "name": "",
        "order": 23,
        "width": 7,
        "height": 5,
        "format": "<div style=\"text-align: center;\">\n  <img src=\"http://192.168.0.100:8080/?action=stream\" style=\"max-width: 100%; height: auto;\" />\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 160,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "3f2da8f68fef59b1",
        "type": "ui_level",
        "z": "f849000841cdb6c6",
        "group": "101e88756b49de61",
        "order": 4,
        "width": 1,
        "height": 2,
        "name": "",
        "label": "l13",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "100",
        "max": "0",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sv",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": 2,
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "off",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1130,
        "y": 540,
        "wires": []
    },
    {
        "id": "1f3de1b514fd8dd3",
        "type": "delay",
        "z": "f849000841cdb6c6",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 1160,
        "y": 320,
        "wires": [
            [
                "e20f7dbe7d076cf7",
                "044612bd815f7853"
            ]
        ]
    },
    {
        "id": "044612bd815f7853",
        "type": "mqtt out",
        "z": "f849000841cdb6c6",
        "name": "",
        "topic": "/audio/play",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d62961e0ee77aa3",
        "x": 1390,
        "y": 340,
        "wires": []
    },
    {
        "id": "8b65ee67605abf37",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 3,
        "width": 10,
        "height": 1
    },
    {
        "id": "76ae5bac8783f060",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "ee93340c9ed40ecf",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 9,
        "width": 7,
        "height": 1
    },
    {
        "id": "eaead7d0ad474d23",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "ee1d3284999f0270",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "5c8676ebf5b90a7c",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 14,
        "width": 4,
        "height": 1
    },
    {
        "id": "1e11676ea6dc1b36",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 16,
        "width": 9,
        "height": 1
    },
    {
        "id": "01b2327195866a09",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 17,
        "width": 3,
        "height": 1
    },
    {
        "id": "da5704e96cc54242",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "a5c86926757819e7",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "38f69e710fe99138",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 21,
        "width": 13,
        "height": 1
    },
    {
        "id": "631adfd96c422fd0",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "189796048749c656",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 25,
        "width": 13,
        "height": 1
    },
    {
        "id": "1fc8dc3f4444fd07",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 27,
        "width": 11,
        "height": 1
    },
    {
        "id": "7ae662c90df649b5",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 30,
        "width": 11,
        "height": 1
    },
    {
        "id": "c5481c99acb68f62",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 33,
        "width": 11,
        "height": 1
    },
    {
        "id": "9aa74aeda5addbc5",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 35,
        "width": 3,
        "height": 1
    },
    {
        "id": "ae49edf99132c8d5",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 36,
        "width": 16,
        "height": 1
    },
    {
        "id": "2cc387b824079efd",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 38,
        "width": 1,
        "height": 1
    },
    {
        "id": "5bdda512cbea7a28",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 40,
        "width": 5,
        "height": 1
    },
    {
        "id": "90fa8162ff57713b",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 41,
        "width": 16,
        "height": 1
    },
    {
        "id": "74a26e4a97e66b23",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "712c5743840947c9",
        "type": "ui_spacer",
        "z": "f849000841cdb6c6",
        "name": "spacer",
        "group": "101e88756b49de61",
        "order": 43,
        "width": 5,
        "height": 1
    },
    {
        "id": "3d62961e0ee77aa3",
        "type": "mqtt-broker",
        "name": "OSRC(localhost)",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "101e88756b49de61",
        "type": "ui_group",
        "name": "Default",
        "tab": "64f8db61c78be461",
        "order": 1,
        "disp": true,
        "width": 24,
        "collapse": false,
        "className": ""
    },
    {
        "id": "64f8db61c78be461",
        "type": "ui_tab",
        "name": "OSRC-Dash",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]