[04] Flows/dalek-dash.json
[
    {
        "id": "e40ec595c352c7c1",
        "type": "tab",
        "label": "Dalek Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7a61c1806922d95f",
        "type": "mqtt in",
        "z": "e40ec595c352c7c1",
        "name": "",
        "topic": "/dalek/command",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3d62961e0ee77aa3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 660,
        "wires": [
            [
                "2085615798d23152"
            ]
        ]
    },
    {
        "id": "2085615798d23152",
        "type": "function",
        "z": "e40ec595c352c7c1",
        "name": "function 1",
        "func": "let inputValue = msg.payload;\n\nif (inputValue == 1) {\n    msg.payload = \"Forward\";\n}\nelse if (inputValue == 2) {\n    msg.payload = \"Left\";\n}\nelse if (inputValue == 3) {\n    msg.payload = \"Right\";\n} \nelse if (inputValue == 4) {\n    msg.payload = \"Lights\";\n}\nelse if (inputValue == 0) {\n    msg.payload = \"NOP\"\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 680,
        "wires": [
            [
                "41de623202e1d1c0",
                "02fbf83529b28766"
            ]
        ]
    },
    {
        "id": "41de623202e1d1c0",
        "type": "ui_text",
        "z": "e40ec595c352c7c1",
        "group": "a90fbd3a22b55596",
        "order": 9,
        "width": 6,
        "height": 2,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "64",
        "color": "#000000",
        "x": 990,
        "y": 740,
        "wires": []
    },
    {
        "id": "02fbf83529b28766",
        "type": "ui_switch",
        "z": "e40ec595c352c7c1",
        "name": "",
        "label": "Emotiv",
        "tooltip": "",
        "group": "a90fbd3a22b55596",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 990,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "f4fafc3e554092c7",
        "type": "mqtt in",
        "z": "e40ec595c352c7c1",
        "name": "",
        "topic": "/diag/forward",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4b9d4faf1382fd54",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 590,
        "y": 720,
        "wires": [
            [
                "72f72d541d253a89"
            ]
        ]
    },
    {
        "id": "72f72d541d253a89",
        "type": "ui_gauge",
        "z": "e40ec595c352c7c1",
        "name": "",
        "group": "a90fbd3a22b55596",
        "order": 28,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Forward",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 720,
        "wires": []
    },
    {
        "id": "54632fcd8aa49ee4",
        "type": "mqtt in",
        "z": "e40ec595c352c7c1",
        "name": "",
        "topic": "/diag/left",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4b9d4faf1382fd54",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 760,
        "wires": [
            [
                "397d80faff038701"
            ]
        ]
    },
    {
        "id": "397d80faff038701",
        "type": "ui_gauge",
        "z": "e40ec595c352c7c1",
        "name": "",
        "group": "a90fbd3a22b55596",
        "order": 29,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Left",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "c8911f45c04b8304",
        "type": "mqtt in",
        "z": "e40ec595c352c7c1",
        "name": "",
        "topic": "/diag/right",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4b9d4faf1382fd54",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 800,
        "wires": [
            [
                "5542930e703e7152"
            ]
        ]
    },
    {
        "id": "5542930e703e7152",
        "type": "ui_gauge",
        "z": "e40ec595c352c7c1",
        "name": "",
        "group": "a90fbd3a22b55596",
        "order": 30,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Right",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 800,
        "wires": []
    },
    {
        "id": "e6187503851bcffb",
        "type": "mqtt in",
        "z": "e40ec595c352c7c1",
        "name": "",
        "topic": "/diag/lights",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4b9d4faf1382fd54",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 580,
        "y": 840,
        "wires": [
            [
                "43d5fe0abf7e47a8"
            ]
        ]
    },
    {
        "id": "43d5fe0abf7e47a8",
        "type": "ui_gauge",
        "z": "e40ec595c352c7c1",
        "name": "",
        "group": "a90fbd3a22b55596",
        "order": 31,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Lights",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 840,
        "wires": []
    },
    {
        "id": "5de186405552ea79",
        "type": "ui_button",
        "z": "e40ec595c352c7c1",
        "name": "",
        "group": "a90fbd3a22b55596",
        "order": 24,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Lights",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "a90482edb267f719"
            ]
        ]
    },
    {
        "id": "a90482edb267f719",
        "type": "trigger",
        "z": "e40ec595c352c7c1",
        "name": "",
        "op1": "4",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 850,
        "y": 420,
        "wires": [
            [
                "b9b03b0329f56e6f"
            ]
        ]
    },
    {
        "id": "b9b03b0329f56e6f",
        "type": "mqtt out",
        "z": "e40ec595c352c7c1",
        "name": "",
        "topic": "/dalek/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d62961e0ee77aa3",
        "x": 1280,
        "y": 380,
        "wires": []
    },
    {
        "id": "ce911329a3444d19",
        "type": "ui_button",
        "z": "e40ec595c352c7c1",
        "name": "",
        "group": "a90fbd3a22b55596",
        "order": 20,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "CODE: 0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 640,
        "y": 200,
        "wires": [
            [
                "b9b03b0329f56e6f"
            ]
        ]
    },
    {
        "id": "e6e9bdd29217aa3a",
        "type": "trigger",
        "z": "e40ec595c352c7c1",
        "name": "",
        "op1": "3",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "400",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 820,
        "y": 380,
        "wires": [
            [
                "b9b03b0329f56e6f"
            ]
        ]
    },
    {
        "id": "c3e1b9ce407c4046",
        "type": "trigger",
        "z": "e40ec595c352c7c1",
        "name": "",
        "op1": "2",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "400",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 820,
        "y": 320,
        "wires": [
            [
                "b9b03b0329f56e6f"
            ]
        ]
    },
    {
        "id": "2fd19fcccbab08da",
        "type": "trigger",
        "z": "e40ec595c352c7c1",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": true,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 820,
        "y": 260,
        "wires": [
            [
                "b9b03b0329f56e6f"
            ]
        ]
    },
    {
        "id": "34ccf97d1f9e6fde",
        "type": "ui_switch",
        "z": "e40ec595c352c7c1",
        "name": "",
        "label": "N-R Control",
        "tooltip": "",
        "group": "a90fbd3a22b55596",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "5",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "6",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 650,
        "y": 140,
        "wires": [
            [
                "b9b03b0329f56e6f"
            ]
        ]
    },
    {
        "id": "592519d441ac6546",
        "type": "ui_slider",
        "z": "e40ec595c352c7c1",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "a90fbd3a22b55596",
        "order": 19,
        "width": 1,
        "height": 2,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": 1,
        "className": "",
        "x": 630,
        "y": 80,
        "wires": [
            [
                "b9b03b0329f56e6f"
            ]
        ]
    },
    {
        "id": "ea9c2ea77d6f456a",
        "type": "ui_button",
        "z": "e40ec595c352c7c1",
        "name": "",
        "group": "a90fbd3a22b55596",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Right",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 380,
        "wires": [
            [
                "e6e9bdd29217aa3a"
            ]
        ]
    },
    {
        "id": "bf369b7397099e9b",
        "type": "ui_button",
        "z": "e40ec595c352c7c1",
        "name": "",
        "group": "a90fbd3a22b55596",
        "order": 16,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Left",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "2",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 630,
        "y": 320,
        "wires": [
            [
                "c3e1b9ce407c4046"
            ]
        ]
    },
    {
        "id": "16050f73bd6b2d19",
        "type": "ui_button",
        "z": "e40ec595c352c7c1",
        "name": "",
        "group": "a90fbd3a22b55596",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "Forward",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 640,
        "y": 260,
        "wires": [
            [
                "2fd19fcccbab08da"
            ]
        ]
    },
    {
        "id": "afe2b3bdb198a07e",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "eadeabdc89c05f34",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "ba1fc30c48cb143d",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 6,
        "width": 5,
        "height": 1
    },
    {
        "id": "775d14b3c5fd6e75",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 7,
        "width": 18,
        "height": 1
    },
    {
        "id": "f518c2af396f075d",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "70ab43f1cfebefbf",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "f64a3519fb98da80",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 11,
        "width": 3,
        "height": 1
    },
    {
        "id": "620fcf0f8472660b",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 13,
        "width": 11,
        "height": 1
    },
    {
        "id": "d1b603ea01c4a856",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 14,
        "width": 18,
        "height": 1
    },
    {
        "id": "86f5244d1f5032e9",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "d3f9b8cf8e3d61da",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "fae2febbc72f5d2c",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 21,
        "width": 10,
        "height": 1
    },
    {
        "id": "71614667b38cf107",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 23,
        "width": 18,
        "height": 1
    },
    {
        "id": "faa30be1a206a052",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 29,
        "width": 1,
        "height": 1
    },
    {
        "id": "74d8395436432b5f",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "6342787340a59060",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "bd89f237e9f973fc",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 32,
        "width": 2,
        "height": 1
    },
    {
        "id": "f514bdc269134138",
        "type": "ui_spacer",
        "z": "e40ec595c352c7c1",
        "name": "spacer",
        "group": "ef9c633743badf44",
        "order": 37,
        "width": 2,
        "height": 1
    },
    {
        "id": "3d62961e0ee77aa3",
        "type": "mqtt-broker",
        "name": "OSRC(localhost)",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a90fbd3a22b55596",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "362dd3cd8c8166ce",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b9d4faf1382fd54",
        "type": "mqtt-broker",
        "name": "IoTHotspot",
        "broker": "192.168.42.92",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ef9c633743badf44",
        "type": "ui_group",
        "name": "Dalek Control",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "362dd3cd8c8166ce",
        "type": "ui_tab",
        "name": "Dalek Control",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]