[04] Flows/dalek-control.json
[
    {
        "id": "9e7bbfbb3033bd1a",
        "type": "tab",
        "label": "Dalek Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d2671f7b9487a52e",
        "type": "serial in",
        "z": "9e7bbfbb3033bd1a",
        "name": "",
        "serial": "145c99e87086f217",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "2f8081f82dc186c0",
                "f8481f17032b3c86"
            ]
        ]
    },
    {
        "id": "8d4d47b10c28cc92",
        "type": "function",
        "z": "9e7bbfbb3033bd1a",
        "name": "function 1",
        "func": "// Parse the payload into an array of numbers\nconst values = msg.payload.split(',').map(v => parseFloat(v.trim()));\n\n// Safety check\nif (values.length !== 10) {\n    node.error(\"Payload must contain exactly 10 comma-separated values.\", msg);\n    return null;\n}\n\n// Check each value individually, return immediately on first match\nif (values[0] >= 812) {\n    msg.payload = 3;\n    return msg;\n}\nif (values[0] <= 212) {\n    msg.payload = 2;\n    return msg;\n}\nif (values[1] >= 600) {\n    msg.payload = 1;\n    return msg;\n}\nif (values[3] >= 60) {\n    msg.payload = 0;\n    return msg;\n}\nelse {\n    msg.payload = 0;\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 120,
        "wires": [
            [
                "5f75ba8dddb478ac"
            ]
        ]
    },
    {
        "id": "3e5b392df43b8da1",
        "type": "mqtt out",
        "z": "9e7bbfbb3033bd1a",
        "name": "",
        "topic": "/audio/play",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d62961e0ee77aa3",
        "x": 1110,
        "y": 340,
        "wires": []
    },
    {
        "id": "5f75ba8dddb478ac",
        "type": "mqtt out",
        "z": "9e7bbfbb3033bd1a",
        "name": "",
        "topic": "/dalek/command",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3d62961e0ee77aa3",
        "x": 1080,
        "y": 100,
        "wires": []
    },
    {
        "id": "4fc24b6e44ed34df",
        "type": "debug",
        "z": "9e7bbfbb3033bd1a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 460,
        "wires": []
    },
    {
        "id": "584083deb3d5dca1",
        "type": "debug",
        "z": "9e7bbfbb3033bd1a",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 60,
        "wires": []
    },
    {
        "id": "c33e4ac9827b7609",
        "type": "mqtt in",
        "z": "9e7bbfbb3033bd1a",
        "name": "",
        "topic": "/dalek/command",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3d62961e0ee77aa3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 340,
        "wires": [
            [
                "28d79708254b4b7b",
                "4fc24b6e44ed34df"
            ]
        ]
    },
    {
        "id": "550329fa62d9c922",
        "type": "trigger",
        "z": "9e7bbfbb3033bd1a",
        "name": "",
        "op1": "r2",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 700,
        "y": 340,
        "wires": [
            [
                "c4645e175f984beb"
            ]
        ]
    },
    {
        "id": "28d79708254b4b7b",
        "type": "switch",
        "z": "9e7bbfbb3033bd1a",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "9",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "9",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 340,
        "wires": [
            [
                "c8705220452f3276"
            ],
            []
        ]
    },
    {
        "id": "c8705220452f3276",
        "type": "delay",
        "z": "9e7bbfbb3033bd1a",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 340,
        "wires": [
            [
                "550329fa62d9c922"
            ]
        ]
    },
    {
        "id": "c4645e175f984beb",
        "type": "delay",
        "z": "9e7bbfbb3033bd1a",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 920,
        "y": 340,
        "wires": [
            [
                "3e5b392df43b8da1"
            ]
        ]
    },
    {
        "id": "2f8081f82dc186c0",
        "type": "delay",
        "z": "9e7bbfbb3033bd1a",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.4",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "8d4d47b10c28cc92",
                "584083deb3d5dca1",
                "3c87fc7a439d4d99"
            ]
        ]
    },
    {
        "id": "e633b8293e03eed9",
        "type": "function",
        "z": "9e7bbfbb3033bd1a",
        "name": "function 2",
        "func": "// Parse the payload into an array of numbers\nconst values = msg.payload.split(',').map(v => parseFloat(v.trim()));\n\n// Safety check\nif (values.length !== 10) {\n    node.error(\"Payload must contain exactly 10 comma-separated values.\", msg);\n    return null;\n}\n\nif (values[4] == 1) {\n    msg.payload = 6;\n    return msg;\n}\nif (values[5] == 1) {\n    msg.payload = 9;\n    return msg;\n}\nif (values[6] >= 60) {\n    msg.payload = 0;\n    return msg;\n}\nif (values[7] >= 60) {\n    msg.payload = 0;\n    return msg;\n}\nif (values[8] >= 60) {\n    msg.payload = 0;\n    return msg;\n}\nif (values[9] >= 60) {\n    msg.payload = 0;\n    return msg;\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "9cad5ed4bb14a33c"
            ]
        ]
    },
    {
        "id": "f8481f17032b3c86",
        "type": "delay",
        "z": "9e7bbfbb3033bd1a",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "0.2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "e633b8293e03eed9"
            ]
        ]
    },
    {
        "id": "9cad5ed4bb14a33c",
        "type": "delay",
        "z": "9e7bbfbb3033bd1a",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 640,
        "y": 180,
        "wires": [
            [
                "70bcfc4d19ced0a8"
            ]
        ]
    },
    {
        "id": "70bcfc4d19ced0a8",
        "type": "trigger",
        "z": "9e7bbfbb3033bd1a",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "1",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 810,
        "y": 180,
        "wires": [
            [
                "5f75ba8dddb478ac",
                "ab7f5b164aaa3383"
            ]
        ]
    },
    {
        "id": "3c87fc7a439d4d99",
        "type": "function",
        "z": "9e7bbfbb3033bd1a",
        "name": "function 3",
        "func": "// Parse the payload into an array of numbers\nconst values = msg.payload.split(',').map(v => parseFloat(v.trim()));\n\n// Safety check\nif (values.length !== 10) {\n    node.error(\"Payload must contain exactly 10 comma-separated values.\", msg);\n    return null;\n}\n\n// Check each value individually, return immediately on first match\nif (values[0] >= 812 && values[1] >= 600) {\n    msg.payload = 5; \n    return msg;\n}\nif (values[0] <= 212 && values[1] >= 600) {\n    msg.payload = 4;\n    return msg;\n}\n\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 60,
        "wires": [
            [
                "5f75ba8dddb478ac"
            ]
        ]
    },
    {
        "id": "ab7f5b164aaa3383",
        "type": "link out",
        "z": "9e7bbfbb3033bd1a",
        "name": "link out 1",
        "mode": "return",
        "links": [],
        "x": 1005,
        "y": 220,
        "wires": []
    },
    {
        "id": "145c99e87086f217",
        "type": "serial-port",
        "name": "SerialIn",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": 8,
        "parity": "none",
        "stopbits": 1,
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": 10000
    },
    {
        "id": "3d62961e0ee77aa3",
        "type": "mqtt-broker",
        "name": "OSRC(localhost)",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]